<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/javascript" src="js/vue_1.0.js"></script>
</head>
<body>
	<div id="app" style="margin: 10px 0 0 30px">
		<!-- <span>评级：{{ score >=9 ? "优等生":"一般学生"}}</span> -->
		<div>
			<span>评级：{{ level }}</span>
		</div>
		<div>
			<p>输入名称</p>
			姓：<input type="text" name="firstname" v-model="firstname"><br>
			名：<input type="text" name="lastname" v-model="lastname">
			<p>输入的名称为：<span>{{ username }}</span></p>
		</div>
	</div>
</body>
<script type="text/javascript">
	new Vue({
		el:"#app",
		data: {
			score: 95,
			firstname: '',
			lastname: ''
		},
		computed:{
			level:function(){
				if(this.score >= 90){
					return "优等生";
				}
				return "一般学生"
			},
			username: function(){
				return this.firstname + this.lastname;
			}
		}
	})
</script>
</html>