<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>测试文件</title>
    <!-- 因为设置了静态资源目录为public，所以引入静态资源把public当做根目录 -->
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <h1>测试文件</h1>
    <form action="/form" method="POST">
        <label for="keyword">百度关键词</label>
        <input type="text" name="keyword" id="keyword">
        <input type="submit" value="提交">
    </form>
    <!-- 因为设置了静态资源目录为public，所以引入静态资源把public当做根目录 -->
    <script src="/scripts/index.js"></script>
</body>
</html>